{% extends 'base.html' %}

{% block title %} {{block.super}} - {% if account %}Edit{% else %}New{% endif %} Account {% endblock %}

{% block content %}

{% include 'snippets/back_link.html' with back_url='account_index' page_name='All Accounts' %}
<div class='row'>
  <div class='col-sm-12 col-md-8 col-lg-6 mx-auto form-box'>
    <h2 class='text-center'>{% if account %}Edit{% else %}Add an{% endif %} Account</h2><hr/>

    <form method='post' >
      {% csrf_token %}

      {{ form.non_field_errors }}

      <div class='row'>
        <div class='col-sm-12'>
          {% include 'snippets/field.html' with field=form.name %}
        </div>
        <div class='col-sm-12'>
          {% include 'snippets/field.html' with field=form.number %}
        </div>
        <div class='col-sm-12'>
          {% include 'snippets/field.html' with field=form.route %}
        </div>
        <div class='col-sm-12'>
          {% include 'snippets/field.html' with field=form.street %}
        </div>
        <div class='col-sm-12 col-md-6'>
          {% include 'snippets/field.html' with field=form.city %}
        </div>
        <div class='col-sm-12 col-md-3'>
          <label for='id_state'>State:</label>
          {{ form.state }}
        </div>
        <div class='col-sm-12 col-md-3'>
          {% include 'snippets/field.html' with field=form.zip_code %}
        </div>
        {% if account %}
          <div class='col-sm-12'>
            <input class='submit btn btn-primary btn-block' type='submit' value='Update Account'/>
          </div>
        {% else %}
          <div class='col-sm-12 col-md-6 order-2'>
            <input class='submit btn btn-primary btn-block' type='submit' value='Create Account'/>
          </div>
          <div class='col-sm-12 col-md-6 order-1'>
            <input class='submit btn btn-secondary btn-block' type='submit' name='again' value='Create and Add Another'/>
          </div>
        {% endif %}
      </div>
    </form>
  </div>
</div>

{% endblock %}