{% extends 'base.html' %}

{% block title %} {{block.super}} - Edit Check {% endblock %}

{% block content %}

{% include 'snippets/back_link.html' with back_url='check_index' page_name='All Checks' %}
<div class='row'>
  <div class='col-sm-12 col-md-8 col-lg-6 mx-auto form-box'>
    <h2 class='text-center'>Edit Check</h2>
    <p class='text-center'><i>{{ check.account.name }}</i></p>
    <hr/>

    <form method='post' >
      {% csrf_token %}

      {{ form.non_field_errors }}

      <div class='row'>
        {% if user.profile.supervisor_up %}
          <div class='col-sm-12'>
            <label for='id_paid'>Paid?</label>
            {{ form.paid }}
            {{ form.paid.errors }}
          </div>
        {% endif %}
        <div class='col-sm-12'>
          {% include 'snippets/field.html' with field=form.number %}
        </div>
        <div class='col-sm-12'>
          {% include 'snippets/field.html' with field=form.amount %}
        </div>
        <div class='col-sm-12'>
          <label for='id_date'>Date:</label>
          {{ form.date }}
          {{ form.date.errors }}
        </div>
        <div class='col-sm-12 col-md-4'>
          <a href='{% url 'check_letter1' check.id %}' class='btn btn-secondary btn-block'>Letter 1</a>
        </div>
        <div class='col-sm-12 col-md-4'>
          <a href='{% url 'check_letter2' check.id %}' class='btn btn-secondary btn-block'>Letter 2</a>
        </div>
        <div class='col-sm-12 col-md-4'>
          <a href='{% url 'check_letter3' check.id %}' class='btn btn-secondary btn-block'>Letter 3</a>
        </div>
        <div class='col-sm-12'>
          <input class='submit btn btn-primary btn-block' type='submit' value='Update Check' id='submit'/>
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock %}