{% extends 'base.html' %}

{% block title %} {{block.super}} - Checks {% endblock %}

{% block content %}

<div class='row header-content'>
  <div class='col-sm-12 col-md-6'>
    <input value='{% if search %}{{search}}{% endif %}' id='search' type='text' placeholder='Search Account Name' onkeypress='handlesearch(event)'/>
  </div>
  {% if not user.profile.admin %}
    <div class='col-sm-12 col-md-6'>
      <a href='{% url 'letter' %}' class='btn btn-primary float-right no-margin'><i class='fas fa-envelope'></i> Generate Letters</a>
    </div>
  {% endif %}
  <div class='col-sm-12'><hr/></div>
</div>

<div class='row'>
  <div class='col-sm-12'>
    <table class='table data-table'>
      <thead>
        <tr>
          <th scope='col'>{% include 'snippets/sort-link.html' with field='account__name' heading='Account Name' %}</th>
          <th scope='col'>{% include 'snippets/sort-link.html' with field='amount' heading='Amount' %}</th>
          <th scope='col'>{% include 'snippets/sort-link.html' with field='amount_paid' heading='Amount Paid' %}</th>
          <th scope='col'>{% include 'snippets/sort-link.html' with field='date' heading='Check Date' %}</th>
          <th scope='col'>{% include 'snippets/sort-link.html' with field='date_created' heading='Date Created' %}</th>
          <th scope='col'>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for check in checks %}
          <tr class='{{ check.row_status }}'>
            <td>{{ check.account.name }}</td>
            <td>{{ check.amount }}</td>
            <td>{{ check.amount_paid }}</td>
            <td>{{ check.date }}</td>
            <td>{{ check.date_created.date }}</td>
            <td>
              <ul class='actions'>
                <li><a href='{% url 'check_edit' check.id %}' data-toggle='tooltip' title='Edit Check'>
                  <i class='fas fa-cog'></i>
                </a></li>
                {% if not check.paid %}
                  <li><a href='{% url 'check_pay' check.id %}' data-toggle='tooltip' title='Pay Check'>
                    <i class='fas fa-shopping-cart'></i>
                  </a></li>
                {% endif %}
                {% if user.profile.admin %}
                  <li><a href='{% url 'check_delete' check.id %}' data-toggle='tooltip' title='Delete Check'>
                    <i class='fas fa-trash'></i>
                  </a></li>
                {% endif %}
              </ul>
            </td>
          </tr>
        {% empty %}
          <tr>
            {% if search %}
              <td colspan='6'>Your search "{{search}}" did not match any checks.</td>
            {% else %}
              <td colspan='6'>No checks found.</td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% include 'snippets/pagination.html' with objects=checks %}
  </div>
</div>

{% endblock %}