{% extends 'base.html' %}

{% block title %} {{block.super}} - Checks {% endblock %}

{% block content %}

<div class='row header-content'>
  <div class='col-sm-12 col-md-6'>
    <input value='{% if search %}{{search}}{% endif %}' id='search' type='text' placeholder='Search Account Name or Paid To' onkeypress='handlesearch(event)'/>
  </div>
  <div class='col-sm-12 col-md-6'>
    <a href='{% url 'check_new' %}' class='btn btn-primary float-right no-margin'><i class='fas fa-plus'></i> Add New Check</a>
  </div>
  <div class='col-sm-12'><hr/></div>
</div>

<div class='row'>
  <div class='col-sm-12'>
    <table class='table table-striped table-bordered table-hover'>
      <thead class='thead-dark'>
        <tr>
          <th scope='col'>Account Name</th>
          <th scope='col'>Amount</th>
          <th scope='col'>Amount Paid</th>
          <th scope='col'>Check Date</th>
          <th scope='col'>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for check in checks %}
          <tr class='{% if check.paid %}table-success{% endif %}'>
            <td>{{ check.account.name }}</td>
            <td>{{ check.amount }}</td>
            <td>{{ check.amount_paid }}</td>
            <td>{{ check.date }}</td>
            <td>
              <ul class='actions'>
                <li><a href='{% url 'check_edit' check.id %}' data-toggle='tooltip' title='Edit Check'>
                  <i class='fas fa-cog'></i>
                </a></li>
                <li><a href='{% url 'check_delete' check.id %}' data-toggle='tooltip' title='Delete Check'>
                  <i class='fas fa-trash'></i>
                </a></li>
              </ul>
            </td>
          </tr>
        {% empty %}
          <tr>
            {% if search %}
              <td colspan='5'>Your search "{{search}}" did not match any checks.</td>
            {% else %}
              <td colspan='5'>No checks found.</td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% include 'snippets/pagination.html' with objects=checks %}
  </div>
</div>

{% endblock %}