{% extends 'base.html' %}

{% block title %} {{block.super}} - Edit Profile {% endblock %}

{% block content %}

{% include 'snippets/back_link.html' with back_url='user_index' page_name='All Users' %}
<div class='row'>
  <div class='col-sm-12 col-md-8 col-lg-6 mx-auto form-box'>
    <h2 class='text-center'>Edit Profile</h2><hr/>

    <form method='post' >
      {% csrf_token %}

      {{ form.non_field_errors }}

      <div class='row'>
        <div class='col-sm-12 col-md-6'>
          {% include 'snippets/field.html' with field=user_form.first_name %}
        </div>
        <div class='col-sm-12 col-md-6'>
          {% include 'snippets/field.html' with field=user_form.last_name %}
        </div>
        <div class='col-sm-12'>
          {% include 'snippets/field.html' with field=user_form.username %}
        </div>
        <div class='col-sm-12'>
          {% include 'snippets/field.html' with field=user_form.email %}
        </div>
        <div class='col-sm-12'>
          {% include 'snippets/field.html' with field=profile_form.records_per_page %}
        </div>
        <div class='col-sm-12'>
          <input class='submit btn btn-primary btn-block' type='submit' value='Update User' id='submit'/>
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock %}