{% extends 'base.html' %}

{% block title %} {{block.super}} - Choose Company {% endblock %}

{% block content %}

<div class='row'>
  <div class='col-sm-12'>
    <h2 class='primary-color'>Choose your company to get started!</h2>
    <p>After you choose your company, we'll help you set up a new account.</p>
    <input value='{% if search %}{{search}}{% endif %}' id='search' type='text' placeholder='Search Company Name' onkeypress='handlesearch(event)'/>
    <hr>
  </div>

  {% for company in companies %}
    <div class='col-sm-12 col-md-6 col-lg-4'>
      <a class='no-decoration' href='{% url 'register' company.id %}'>
        <div class='company-card'>
            <h3 class='text-center'>{{ company }}</h3>
            <p>{{ company.desc }}</p>
        </div>
      </a>
    </div>
  {% empty %}
    <div class='col-sm-12'>
      {% if search %}
        <p class='lead'>Your search "{{search}}" did not match any companies.</p>
      {% else %}
        <p class='lead'>No companies found.</p>
      {% endif %}
    </div>
  {% endfor %}

  <div class='col-sm-12'>
    <hr>
    {% include 'snippets/pagination.html' with objects=companies %}
  </div>  
</div>

{% endblock %}