{% extends 'base.html' %}

{% block title %} {{block.super}} - Companies {% endblock %}

{% block content %}

<div class='row header-content'>
  <div class='col-sm-12'>
    <h3>{{ heading }}</h3>
  </div>
  <div class='col-sm-12 col-md-6'>
    <input value='{% if search %}{{search}}{% endif %}' id='search' type='text' placeholder='Search Company Name' onkeypress='handlesearch(event)'/>
  </div>
  <div class='col-sm-12 col-md-6'>
    <a href='{% url 'company_new' %}' class='btn btn-primary float-right no-margin'><i class='fas fa-plus'></i> Add New Company</a>
  </div>
  <div class='col-sm-12'><hr/></div>
</div>

<div class='row'>
  {% for company in companies %}
    <div class='col-sm-12 col-md-6 col-lg-4'>
      <div class='company-card'>
        <h3 class='text-center'>{{ company }}</h3>
        <p>{{ company.desc }}</p>
        <ul class='actions'>
          <li><a href='{% url 'simulate' company.id %}' data-toggle='tooltip' title='Simulate Company'>
            <i class='fas fa-arrow-circle-right'></i>
          </a></li>
          <li><a href='{% url 'company_edit' company.id %}' data-toggle='tooltip' title='Edit Company'>
            <i class='fas fa-cog'></i>
          </a></li>
          <li><a href='{% url 'company_delete' company.id %}' data-toggle='tooltip' title='Delete Company'>
            <i class='fas fa-trash'></i>
          </a></li>
        </ul>
      </div>
    </div>
  {% empty %}
    <div class='col-sm-12'>
      {% if search %}
        <p class='lead'>Your search "{{search}}" did not match any companies.</p>
      {% else %}
        <p class='lead'>No companies found.</p>
      {% endif %}
    </div>
  {% endfor %}

  <div class='col-sm-12'>
    <hr>
    {% include 'snippets/pagination.html' with objects=companies %}
  </div>  
</div>

{% endblock %}