{% extends 'base.html' %}

{% block title %} {{block.super}} - {% if company %}Edit{% else %}New{% endif %} Company {% endblock %}

{% block content %}

{% include 'snippets/back_link.html' with back_url='company_index' page_name='All Companies' %}
<div class='row'>
  <div class='col-sm-12 col-md-8 col-lg-6 mx-auto form-box'>
    <h2 class='text-center'>{% if company %}Edit{% else %}Add a{% endif %} Company</h2><hr/>

    <form method='post' >
      {% csrf_token %}

      {{ form.non_field_errors }}

      <div class='row'>
        <div class='col-sm-12'>
          {% include 'snippets/field.html' with field=form.name %}
        </div>
        <div class='col-sm-12'>
          {% include 'snippets/field.html' with field=form.street %}
        </div>
        <div class='col-sm-12 col-md-6'>
          {% include 'snippets/field.html' with field=form.city %}
        </div>
        <div class='col-sm-12 col-md-3'>
          <label for='id_state'>State:</label>
          {{ form.state }}
        </div>
        <div class='col-sm-12 col-md-3'>
          {% include 'snippets/field.html' with field=form.zip_code %}
        </div>
        <div class='col-sm-12'>
          {% include 'snippets/field.html' with field=form.wait_period %}
        </div>
        <div class='col-sm-12'>
          {% include 'snippets/field.html' with field=form.desc %}
        </div>
        <div class='col-sm-12'>
          <input class='submit btn btn-primary btn-block' type='submit' value='{% if company %}Update{% else %}Create{% endif %} Company' id='submit'/>
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock %}