@font-face {
  font-family: 'Enigmatic';
  src: url('../fonts/enigmatic.ttf') format('truetype'), local('Enigmatic');
}

@font-face {
  font-family: 'Expressway';
  src: url('../fonts/expressway.ttf') format('truetype'), local('Expressway');
}

$theme-colors: (
  'primary': #940000,
  'second': #17A2BB,
  'gray': #EEEEEE,
);

@import "bootstrap/bootstrap";

body {
  background-color: theme-color('gray');
  //font-family: 'Expressway', 'sans-serif';
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Expressway', 'sans-serif';
}

.fa-disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.btn {
  padding: 0.8em;
}

.btn {
  line-height: 1;
}

th {
  background-color: theme-color-level('dark', 4);
}

header {
  background-color: theme-color-level('dark', 4); 
  margin-bottom: 1.2em;
  color: white;
  box-shadow: 0 0 10px 2px black;
  width: 100%;

  .active {
    background-color: theme-color-level('second', 5);
  }

  p { margin: 0; }

  .nav-links {
    a {
      display: block;
      padding: 15px 20px;
      margin: 5px 0;
      border-radius: 5px;
      transition-duration: 0.3s;

      &:hover {
        background-color: theme-color('second');
      }
    }
  }

  ul {
    margin: 0;
    padding: 0;
    display: inline-block;
    list-style: none;
    li {
      display: inline-block;
    }
  }
}

.no-decoration {
  text-decoration: inherit;
  color: inherit;

  &:hover {
    text-decoration: inherit;
    color: inherit;
  }
}

.company-card {
  background-color: white;
  border-radius: .5em;
  padding: 0.7em;
  margin-bottom: 1.3em;
  transition-duration: 0.2s;
  position: relative;
  box-shadow: #AAAAAA 0px 2px 4px 0px;
  top: 0;
  left: 0;

  p { margin: 0; }
  h3 { border-bottom: 1px solid #AAAAAA; }

  &:hover {
    top: -1px;
    left: -1px;
    box-shadow: #AAAAAA 0px 6px 16px 0px;
  }
}

input[type=text], input[type=password], input[type=email] {
  width: 100%;
  padding: 0.6em;

  .error {
    border: 2px solid red;
  }
}

textarea {
  width: 100%;
  padding: 0.6em;
  line-height: 1.0em;
}

select {
  width: 100%;
  max-width: 100%;
  padding: 0.6em;
}

.form-box {
  padding-top: 1.1em;
  padding-bottom: 1.1em;
  background-color: rgb(220, 220, 220);
}

.flash {
  list-style: none;
  padding: 0;
}

label {
  margin: 0;
  margin-top: 1.1em;
}

.btn {
  margin-top: 1.1em;
}

.no-margin {
  margin: 0;
}

.errorlist {
  margin: 0;
  padding: 0.1em;
  list-style: none;
  background-color: rgb(255, 150, 150);
}

.actions {
  padding: 0;
  margin: 0;
  list-style: none;

  li {
    vertical-aligh: center;
    display: inline-block;
    padding: 0 20px;
    border-right: 1px solid #bebebe;
    margin-right: -4px;

    &:first-child {
      padding-left: 8px;
    }

    &:last-child {
      border-right: none;
      padding-right: 0;
    }

    a {
      display: block;
      text-decoration: none;
      line-height: 1em;
      color: theme-color('second');
      i {
        display: block;
        text-decoration: none;
        line-height: 1em;
      }
    }
  }
}

.action-item {
  color: blue;
  padding: 0 5px;
  margin: 0; 
}

.data-table {
  border-collapse: separate;
  border-spacing: 0 .75em;
  thead {
    th {
      padding: 0 1.2em;
      border: 0;
      background-color: inherit;
    }
  }
  tbody {
    .row-success td {
      background-color: #BBFFBB;
    }
    tr {
      box-shadow: #AAAAAA 0px 2px 4px 0px;
      border-radius: .5em;
      transition-duration: 0.2s;
      &:hover {
        box-shadow: #AAAAAA 0px 4px 10px 0px;
      }
      td:first-child {
        border-bottom-left-radius: .5em;
        border-top-left-radius: .5em;
      }
      td:last-child {
        border-bottom-right-radius: .5em;
        border-top-right-radius: .5em;
      }
      td {
        padding: 1.2em 1.2em;
        border: 0;
        background-color: white;
      }
    }
  }
}