@font-face {
  font-family: 'Enigmatic';
  src: url('../fonts/enigmatic.ttf') format('truetype'), local('Enigmatic');
}

@font-face {
  font-family: 'Expressway';
  src: url('../fonts/expressway.ttf') format('truetype'), local('Expressway');
}

$theme-colors: (
  'primary': #940000,
  'second': #17A2BB,
  'gray': #EEEEEE,
);

@import "bootstrap/bootstrap";

html, body { height: 100%; }
body { background-color: theme-color('gray'); }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Expressway', 'sans-serif';
}

.fa-disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.btn {
  padding: 0.8em;
}

.btn {
  line-height: 1;
}

th {
  background-color: theme-color-level('dark', 4);
}

#full-content-container {
  min-height: 100%;
  position: relative;
}

#main-content {
  padding-bottom: 210px;
}

.dropdown {
  float: right;
  padding: 0.75em;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  background-color: white;
  display: none;
  position: absolute;
  z-index: 1;
  box-shadow: 0 0 4px 0 black;
  li {
    width: 100%;
    padding: 4px 10px;
    a { text-decoration: none; }
    &:hover {
      background-color: theme-color-level('second', -4);
    }
  }
}

.dropdown:hover .dropdown-content {
  display: block;
}

footer {
  padding-top: 1em;
  background-color: theme-color-level('dark', 4);
  color: white;
  box-shadow: 0 0 10px 2px black;
  position: absolute;
  bottom: 0;
  width: 100%;

  h4 { color: theme-color('second'); }
  hr { background-color: white; }

  .footer-links {
    margin-bottom: 0;
    padding-left: 0.5em;
    list-style: none;
    text-decoration: none;
    a { color: white; }
  }
}

header {
  background-color: theme-color-level('dark', 4);
  margin-bottom: 1.2em;
  color: white;
  box-shadow: 0 0 10px 2px black;

  .nav-links {
    .active { background-color: theme-color-level('second', 5); }
  }
  p { margin: 0; }
}

@media (max-width: 768px) {
  #main-content {
    padding-top: 60px;
    padding-bottom: 20px;
  }

  header {
    position: fixed;
    width: 100%;
    z-index: 3000;
    padding: 5px 0;

    .welcome-text { padding: 8px; }

    .navContent {
      padding: 5px;
      z-index: 3000;
      position: fixed;
      opacity: 0;
      visibility: hidden;
      top: 50px;
      width: 100%;
      bottom: 0;
      background-color: theme-color-level('dark', 4);
      overflow-y: auto;
      transform: translateX(-100%);
      transition-duration: 0.5s;
	}

    .show {
      visibility: visible;
      opacity: 1;
      transform: translateX(0%);
	}

    .navTrigger {
      display: inline-block;
      cursor: pointer;
      width: 30px;
      height: 25px;
      margin: 10px;
      margin-bottom: 0;

      i {
        background-color: white;
        border-radius: 2px;
        content: '';
        display: block;
        width: 100%;
        height: 4px;
      }
      i:nth-child(1) {
        animation: outT 0.3s backwards;
        animation-direction: reverse;
      }
      i:nth-child(2) {
        margin: 5px 0;
        animation:outM 0.3s backwards;
        animation-direction:reverse;
      }
      i:nth-child(3) {
        animation:outBtm 0.3s backwards;
        animation-direction:reverse;
      }
      &.active i:nth-child(1) {
        animation:inT 0.3s forwards;
      }
      &.active i:nth-child(2) {
        animation:inM 0.3s forwards;
      }
      &.active i:nth-child(3) {
        animation:inBtm 0.3s forwards;
      }
	}

    h3 {
      border-bottom: 2px solid theme-color('primary');
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li:last-child { margin-bottom: 1.1em; }
      a {
        display: block;
        padding: 0.8em 1.2em;
        border-bottom: 1px solid theme-color-level('dark', 2);
        .active { background-color: theme-color-level('second', 5); }
      }
    }
  }
}

@media (min-width: 768px) {
  header {
    .nav-links {
      a {
        display: block;
        padding: 12px 16px;
        margin: 5px 0;
        border-radius: 5px;
        transition-duration: 0.3s;

        &:hover {
          background-color: theme-color('second');
        }
      }
    }

    ul {
      margin: 0;
      padding: 0;
      display: inline-block;
      list-style: none;
      li {
        display: inline-block;
      }
    }
  }
}


.no-decoration {
  text-decoration: inherit;
  color: inherit;

  &:hover {
    text-decoration: inherit;
    color: inherit;
  }
}

.company-card {
  background-color: white;
  border-radius: .5em;
  padding: 0.7em;
  margin-bottom: 1.3em;
  transition-duration: 0.2s;
  position: relative;
  box-shadow: #AAAAAA 0px 2px 4px 0px;
  top: 0;
  left: 0;

  p { margin: 0; }
  h3 { border-bottom: 1px solid #AAAAAA; }

  &:hover {
    top: -1px;
    left: -1px;
    box-shadow: #AAAAAA 0px 6px 16px 0px;
  }

  .actions {
    li {
      padding: 0 0.8em;
      &:first-child {
        padding-left: 0;
      }
    }
  }
}

input[type=text], input[type=password], input[type=email] {
  width: 100%;
  padding: 0.6em;

  .error {
    border: 2px solid red;
  }
}

textarea {
  width: 100%;
  padding: 0.6em;
  line-height: 1.0em;
}

select {
  width: 100%;
  max-width: 100%;
  padding: 0.6em;
}

.form-box {
  padding-top: 1.1em;
  padding-bottom: 1.1em;
  background-color: rgb(220, 220, 220);
}

.flash {
  list-style: none;
  padding: 0;
}

label {
  margin: 0;
  margin-top: 1.1em;
}

.btn {
  margin-top: 1.1em;
}

.no-margin {
  margin: 0;
}

.errorlist {
  margin: 0;
  padding: 0.1em;
  list-style: none;
  background-color: rgb(255, 150, 150);
}

.actions {
  padding: 0;
  margin: 0;
  list-style: none;

  li {
    vertical-align: center;
    display: inline-block;
    padding: 0 20px;
    border-right: 1px solid #bebebe;
    margin-right: -4px;

    &:first-child {
      padding-left: 8px;
    }

    &:last-child {
      border-right: none;
      padding-right: 0;
    }

    a {
      display: block;
      text-decoration: none;
      line-height: 1em;
      color: theme-color('second');
      i {
        display: block;
        text-decoration: none;
        line-height: 1em;
      }
    }
  }
}

.action-item {
  color: blue;
  padding: 0 5px;
  margin: 0; 
}

.data-table {
  border-collapse: separate;
  border-spacing: 0 .75em;
  thead {
    th {
      padding: 0 1.2em;
      border: 0;
      background-color: inherit;
    }
  }
  tbody {
    .row-success td {
      background-color: #BBFFBB;
    }
    .row-warning td {
      background-color: #FFBBBB;
    }
    tr {
      box-shadow: #AAAAAA 0px 2px 4px 0px;
      border-radius: .5em;
      transition-duration: 0.2s;
      &:hover {
        box-shadow: #AAAAAA 0px 4px 10px 0px;
      }
      td:first-child {
        border-bottom-left-radius: .5em;
        border-top-left-radius: .5em;
      }
      td:last-child {
        border-bottom-right-radius: .5em;
        border-top-right-radius: .5em;
      }
      td {
        padding: 1.2em 1.2em;
        border: 0;
        background-color: white;
      }
    }
  }
}

.sort-link {
  text-decoration: none !important;
  color: inherit;
  &.active {
    color: theme-color('primary');
  }
}

.simulate {
  padding: 0.6em;
  margin-bottom: 0.3em;
  background: linear-gradient(270deg, theme-color-level('second', 5), theme-color-level('second', -5));
  background-size: 200% 100%;
  animation: simAnim 2s ease infinite;
  p { margin: 0; }
}

.stop-simulate {
  padding: 0.35em;
  color: black;
  text-decoration: none !important;
}

.about-card {
  img {
    max-width: 200px;
    border-radius: 1em;
  }
}

.ui-datepicker-calendar th { background-color: white; }