@-webkit-keyframes inM{
	50%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(45deg);}
}
@keyframes inM{
	50%{transform:rotate(0deg);}
	100%{transform:rotate(45deg);}
}

@-webkit-keyframes outM{
	50%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(45deg);}
}
@keyframes outM{
	50%{transform:rotate(0deg);}
	100%{transform:rotate(45deg);}
}

@-webkit-keyframes inT{
	0%{-webkit-transform: translateY(0px) rotate(0deg);}
	50%{-webkit-transform: translateY(9px) rotate(0deg);}
	100%{-webkit-transform: translateY(9px) rotate(135deg);}
}
@keyframes inT{
	0%{transform: translateY(0px) rotate(0deg);}
	50%{transform: translateY(9px) rotate(0deg);}
	100%{transform: translateY(9px) rotate(135deg);}
}

@-webkit-keyframes outT{
	0%{-webkit-transform: translateY(0px) rotate(0deg);}
	50%{-webkit-transform: translateY(9px) rotate(0deg);}
	100%{-webkit-transform: translateY(9px) rotate(135deg);}
}
@keyframes outT{
	0%{transform: translateY(0px) rotate(0deg);}
	50%{transform: translateY(9px) rotate(0deg);}
	100%{transform: translateY(9px) rotate(135deg);}
}

@-webkit-keyframes inBtm{
	0%{-webkit-transform: translateY(0px) rotate(0deg);}
	50%{-webkit-transform: translateY(-9px) rotate(0deg);}
	100%{-webkit-transform: translateY(-9px) rotate(135deg);}
}
@keyframes inBtm{
	0%{transform: translateY(0px) rotate(0deg);}
	50%{transform: translateY(-9px) rotate(0deg);}
	100%{transform: translateY(-9px) rotate(135deg);}
}

@-webkit-keyframes outBtm{
	0%{-webkit-transform: translateY(0px) rotate(0deg);}
	50%{-webkit-transform: translateY(-9px) rotate(0deg);}
	100%{-webkit-transform: translateY(-9px) rotate(135deg);}
}
@keyframes outBtm{
	0%{transform: translateY(0px) rotate(0deg);}
	50%{transform: translateY(-9px) rotate(0deg);}
	100%{transform: translateY(-9px) rotate(135deg);}
}