{% extends 'base.html' %}
{% load static %}

{% block title %} {{block.super}} - About {% endblock %}

{% block content %}
  <div class='row'>
    <div class='col'>
      <h1 class='text-center'>About Us</h1>
    </div>
  </div>
  <div class='row'>
    <div class='col about-card'>
      <img src='{% static 'img/ben.jpg' %}'/>
      <h4>Ben Wornom</h4>
      <p>Project Manager</p>
    </div>
    <div class='col about-card'>
      <img src='{% static 'img/katarina.jpg' %}'/>
      <h4>Katarina Rathert</h4>
      <p>Software Developer</p>
    </div>
    <div class='col about-card'>
      <img src='{% static 'img/sam.jpg' %}'/>
      <h4>Sam Henry</h4>
      <p>Software Developer</p>
    </div>
    <div class='col about-card'>
      <img src='{% static 'img/seth.jpg' %}'/>
      <h4>Seth Severson</h4>
      <p>Scribe/Webmaster</p>
    </div>
    <div class='col about-card'>
      <img src='{% static 'img/bill.jpg' %}'/>
      <h4>Bill Alger</h4>
      <p>DBA Specialist</p>
    </div>
  </div>
  <div class='row'>
    <h2>Our Mission</h2>
    <p>We strive to make your bounced check handling as simple and efficient as possible.  
      So, we created a web application that mirrors our mission: simple, efficient, and intuitive
      to use.  And the best part is, it's all free.  
    </p>
    <p>What we use: our website is built on Python and Django, and runs on Heroku.  We 
      are proud supporters of these amazingly awesome tools for software development.</p>
  </div>

{% endblock %}