{% extends 'base.html' %}

{% block content %}
<div class="home">
    <h1 class="title"><i class='fas fa-check'></i> Check It</h1>
    <p>Enter your bad checks here!  We'll let you know when it's time to send the letters. </p>
    
    {% if user.is_authenticated %}
      <p>Hello, <b>{{ user.profile.full_name }}</b></p>
      <a href='{% url 'check_index' %}'><i class='fas fa-credit-card'></i> Get Started</a>
    {% else %}
      <a href='{% url 'login' %}'><i class='fas fa-user-circle'></i> Log in or sign up to get started</a>
    {% endif %}

  </div>
{% endblock %}