{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class='row'>
    <div class='col text-center'>
      <h1 class='text-center'><img src='{% static 'img/favicon.png' %}' width='50'/> Check It</h1>
      <p>Still logging and managing those bounced checks by hand? Our technology is the perfect solution for you. Get started logging checks right here, and we'll let you know when it's time to send the letters.</p>

      {% if user.is_authenticated %}
        <p>Hello, <b>{{ user.profile.full_name }}</b></p>
      {% else %}
        <p>Get started today for free! Click below to log in or register.</p>
        <div class='row'>
          <div class='col-sm-12 col-md-6'>
            <a class='btn btn-primary btn-lg btn-block' href='{% url 'login' %}'><i class='fas fa-user-circle'></i> Log In</a>
          </div>
          <div class='col-sm-12 col-md-6'>
            <a class='btn btn-secondary btn-lg btn-block' href='{% url 'company_choose' %}'><i class='fas fa-plus-circle'></i> Register</a>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
  <div class='row'>
    <div class='col text-center'>
      <hr/>
      <h2>Grow Your Business</h2>
      <p>Speed up check processing and let us do the work for you!</p>
      <img class='home-img' src='{% static 'img/speed.PNG' %}'/>
    </div>
  </div>
  <div class='row'>
    <div class='col text-center'>
      <hr/>
      <h2>Generate Intuitive Reports</h2>
      <p>See how your company and customers are doing with custom reports!</p>
      <img class='home-img' src='{% static 'img/reports.PNG' %}'/>
    </div>
  </div>
{% endblock %}