{% extends 'base.html' %}

{% block title %} {{block.super}} - Register {% endblock %}

{% block content %}

<div class='row'>
  <div class='col-sm-12 col-md-8 col-lg-6 mx-auto form-box'>
    <h2 class='text-center'>Create Your Account</h2>
    <p class='text-center'><i>{{ company }}</i></p>
    <hr>
    <form method='post' >
      {% csrf_token %}

      {{ form.non_field_errors }}

      <div class='row'>
        <div class='col-sm-12 col-md-6'>
          {% include 'snippets/field.html' with field=form.first_name %}
        </div>
        <div class='col-sm-12 col-md-6'>
          {% include 'snippets/field.html' with field=form.last_name %}
        </div>
        <div class='col-sm-12'>
          {% include 'snippets/field.html' with field=form.username %}
        </div>
        <div class='col-sm-12'>
          {% include 'snippets/field.html' with field=form.email %}
        </div>
        <div class='col-sm-12 col-md-6'>
          {% include 'snippets/field.html' with field=form.password1 %}
        </div>
        <div class='col-sm-12 col-md-6'>
          {% include 'snippets/field.html' with field=form.password2 %}
        </div>
        <div class='col-sm-12 col-md-6'>
          <input class='btn btn-primary btn-block' type='submit' value='Create Account' id='submit'/>
        </div>
        <div class='col-sm-12 col-md-6'>
          <a href='{% url 'login' %}' class='btn btn-secondary btn-block'>Log In</a>
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock %}